/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent scrolling on the starfield background */
    position: relative; /* Ensure canvas is positioned correctly */
}

header {
    background-color: #f2f2f2;
    padding: 20px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

#starfield {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
